* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 999;
}

main {
    width: 90vw;
    height: 100vh;
    margin: 60px auto;
    background-color: violet;

}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
    z-index: 999;
}

.flex {
    display: flex;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #4a4a4a;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 5px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    bottom: 0px;
}

i {
    color: white;
}

.box.pinco {
    color: #a0a0a0;
    border-radius: 0;
    margin-bottom: 4px;
    margin-left: 0;
}

.item {
    margin: 4px;
}

.nav {
    width: 1180vw;
}

.nav-left, .nav-right {
    width: 20%;
    background-color: turquoise;
}

.nav-center {
    width: 60%;
    background-color: tomato;
}